 #home{
    color:#252432;
 }
 .text-gray{
    color: #8987A1;
 }
 .light-bold{
    color: #000000;
 }
 .banner-text{
    max-width: 517px;
 }
 .text-color-orange{
    color: #E95A08;
 }
 .banner-desc{
    color: #000000;
 }
 .btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    border-radius: 2px;
    width: 80%;
    height: 50px;
 }
 .text-color-2{
    color: #111111;
 }
 .badge{
    position: relative;
    top:100px;
    left: 20px;
 }
 .container{
    
 }