 #home{
    color:#252432;
 }
 .text-gray{
    color: #8987A1;
 }
 .light-bold{
    color: #000000;
 }
 .banner-text{
    max-width: 517px;
 }
 .text-color-orange{
    color: #E95A08;
 }
 .banner-desc{
    color: #000000;
 }
 .btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    border-radius: 2px;
    width: 80%;
    height: 50px;
 }
 .text-color-2{
    color: #111111;
 }
 .badge{
    position: relative;
    top:100px;
    left: 20px;
 }
 .one{
     width: 366px;
     height: 206;
 }
 .text-white{
    color: #FFFFFF;
 }

 /* responsive design */

 @media screen and  (max-width: 640px){
    
    .banner{
        flex-direction: column-reverse;
    }
    .banner-img{
        width: 45rem;
        height: 20rem;
    }
    .banner-title{
      width: 517px;
      height: 90px;
    }
    .banner-div{
        margin-left: 120px;
        margin-top: -5px;
    }
    .banner-desc{
    color: #000000;
    text-align: center;
    
    
 }
 .banner-desc-one{
    color: #000000;
    text-align: center;
    
    
 }
 .section-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-left: 10px;
 } 
 
 .section-one-img{
    width: 260px;
 }
 
 .our-love{
    
    flex-direction: column;
 }
 .our-love-img-one{
    width: 220%;
    margin-left: 110px;
    margin-right: 140px;
 }
 .our-love-h3{
    font-size: 40px;
 }
 .our-love-li{
    margin-left: 110px;
 }
 .text-center{
    text-align:center;
 }
 .text-center-two{
    text-align: center;
 }
 .latest-deal{
    flex-direction: column;
    margin-left: 30px;
 }
 .latest-deal-one{
    width: 580px;
    height: 350px;
 }
 .latest-deal-one-text{
    font-size:xx-large;
 }
 .join{
    background-image: src('url(assets/news-letter-bg.png)');
    width: 40rem;
 }
 .join-text{
    
    text-align:center;
    font-size: 30px;
 }
 .join-text-input{
    max-width: 280px;
    height: 40px;
 }
 .join-text-input-red{
    max-width: 140px;
 }
 .footer{
    flex-direction: column;
    margin-left: 35px;
 }
 .footer-one{
    flex-direction: column;
 }
 .footer-logo{
    width: 200px;
    height: 100px;
 }
 .footer-text{
    width: 260px;
    height: 50px;
    color: #000000;
 }
 }